@charset "UTF-8";
/*configuración general*/
* {
  margin: o;
  padding: 0;
  box-sizing: border-box;
  font-family: "Patrick Hand SC", cursive;
}

.fondo {
  background: rgb(243, 232, 212);
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: rgb(190, 127, 78);
}
.header .logo {
  width: 160px;
  display: inline-block;
}

.navegador {
  font-size: 2rem;
  color: rgb(94, 43, 14);
}
.navegador a {
  border-radius: 10px;
  color: rgb(94, 43, 14);
}
.navegador a:hover {
  background-color: rgb(94, 43, 14);
  border-radius: 10px;
  color: rgb(243, 232, 212);
}

.footer {
  text-align: center;
  background: rgb(190, 127, 78);
  justify-items: center;
  color: rgb(94, 43, 14);
}
.footer h2 {
  margin: 5px;
}
.footer img {
  width: 25px;
  margin: 5px;
}
.footer .icono1 {
  width: 150px;
  margin: 5px;
}
.footer h3 {
  margin: 5px;
  font-size: 15px;
  color: rgb(94, 43, 14);
}

/*configuración del body*/
inicio {
  padding: 20px;
  background: rgb(243, 232, 212);
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto, 2fr, auto;
  gap: 5px;
  grid-template-areas: "titulo" "fotos" "invitacion";
  /*titulo imagen y texto*/
}
inicio .titulo {
  grid-area: titulo;
  text-align: center;
  font-weight: 500;
  text-decoration: underline;
  color: rgb(94, 43, 14);
  margin-top: 3rem;
}
inicio .fotos {
  padding: 40px;
  grid-area: fotos;
  justify-self: center;
  width: 60%;
}
inicio .invitacion {
  grid-area: invitacion;
  text-align: center;
  padding: 20px;
  color: rgb(94, 43, 14);
}
inicio .invitacion p {
  font-size: 1.2rem;
  font-weight: 300;
}

/*textos*/
.presentacion {
  font-style: normal;
  text-align: center;
  padding: 1rem;
  font-size: x-large;
  color: rgb(94, 43, 14);
  margin: 25px;
}

.nuestro_cafe {
  font-style: normal;
  text-align: center;
  padding: 1rem;
  font-size: x-large;
  color: rgb(94, 43, 14);
}
.nuestro_cafe h2 {
  margin: 25px;
}
.nuestro_cafe h3 {
  margin-top: 35px;
}

/*irframe*/
.mapa {
  width: 60%;
  height: 300px;
}

.titulo_listado {
  text-align: center;
  color: rgb(94, 43, 14);
  margin: 25px;
}

/*configuración del menu*/
.listado {
  display: flex;
  justify-content: space-evenly;
  align-items: baseline;
  margin: 10px;
  flex-wrap: nowrap;
  width: auto;
  height: auto;
  border: 5px solid black;
  border-radius: 20px;
  background: rgb(178, 133, 52);
  background: linear-gradient(180deg, rgb(178, 133, 52) 0%, rgb(222, 200, 160) 50%, rgb(183, 104, 48) 100%);
}
.listado .bebidas {
  margin: 15px;
}
.listado .dulces {
  margin: 15px;
}
.listado .salados {
  margin: 15px;
  margin-bottom: 30px;
}

/*configuración del formulario*/
.formulario {
  margin: 20px;
  display: grid;
  grid-template-columns: 1fr, 1fr;
  grid-template-rows: 1fr;
  gap: 5px;
  grid-template-areas: "for img";
  /*interior del formulario*/
}
.formulario .for {
  width: 30vw;
  height: auto;
  text-align: left;
  padding: 10px;
  grid-area: for;
  background-color: rgb(190, 127, 78);
  border: solid rgb(190, 127, 78) 5px;
  border-radius: 20px;
  color: rgb(94, 43, 14);
}
.formulario .opinion {
  text-align: center;
  padding-top: 50px;
  text-decoration: underline;
}
.formulario .item {
  padding-top: 50px;
  font-size: 20px;
}
.formulario .saludo {
  text-align: center;
  padding-top: 50px;
}

/*imagenes fuera del formulario*/
.img {
  grid-area: img;
  padding: 10px auto;
  text-align: center;
}
.img .personal {
  padding: 20px;
  width: 60%;
}

/*configuración de la tabla*/
.lista_combos {
  margin-top: 100px;
}
.lista_combos .titulo_combo {
  text-align: center;
  text-decoration: underline;
  color: rgb(94, 43, 14);
  padding-bottom: 35px;
}

.tabla {
  display: flex;
  justify-content: center;
  margin: 20px;
}

@media only screen and (min-width: 0px) and (max-width: 600px) {
  .navegador {
    font-size: large;
  }
  .maps iframe {
    width: 290px;
    height: 280px;
  }
  .formulario {
    width: 300px;
    margin: 0px;
    margin-top: 15px;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr, 1fr;
    grid-template-areas: "for" "img";
  }
  .formulario .for {
    width: 100vw;
    border-radius: 0px;
    text-align: center;
  }
  .formulario .personal {
    width: 250px;
  }
  .formulario .item {
    font-size: 15px;
  }
  .listado {
    display: block;
  }
  .listado .bebidas h3 {
    font-size: medium;
  }
  .listado .dulces h3 {
    font-size: medium;
  }
  .listado .salados h3 {
    font-size: medium;
  }
  .table {
    font-size: small;
  }
}
@media only screen and (min-width: 601px) and (max-width: 1000px) {
  .navegador {
    font-size: x-large;
  }
  .formulario {
    width: 100vw;
    margin: 0px;
    margin-top: 15px;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr, 1fr;
    grid-template-areas: "for" "img";
  }
  .formulario .for {
    width: 100vw;
    border-radius: 0px;
    text-align: center;
  }
  .formulario .personal {
    width: 550px;
  }
}

/*# sourceMappingURL=estilo.css.map */
