.presentacion{
    font-style:normal;
    text-align: center;
    padding: 1rem;
    font-size: x-large;
    color: $colorOscuro;
}
.nuestro_cafe{
    font-style:normal;
    text-align: center;
    padding: 1rem;
    font-size: x-large;
    color: $colorOscuro;
}
