@mixin confi{
    text-align: center;
    padding-top: 50px;
}

/*configuración del formulario*/
.formulario{
    margin: 20px;
    display: grid;
    grid-template-columns: (1fr, 1fr);
    grid-template-rows: (1fr);
    gap: 5px;
    grid-template-areas:
    "for img";

    /*interior del formulario*/
    .for{
        width: 30vw;
        height: auto;
        text-align:left;
        padding: 10px ;
        grid-area: for;
        background-color: $colorMedio; 
        border: solid $colorMedio 5px;
        border-radius: 20px;
        color: $colorOscuro;
    }
    .opinion{
            @include confi;
            text-decoration: underline;
    }
    .item{
            padding-top: 50px;
            font-size: 20px;
    }
    .saludo{
            @include confi;
    }
}
    
/*imagenes fuera del formulario*/ 
.img{
    grid-area: img;
    padding: 10px auto;
    text-align: center;
    .personal{
        padding: 20px;
        width: 60%;
    }
}